<template>
  <div class="flexbox-parent">
    <div class="flexbox-item fill-area content flexbox-item-grow">
      <div class="fill-area-content flexbox-item-grow">
        <div style="background-color: #cfd8dc; padding-bottom: 3rem;">
          <img :src="image" class="mt-3" style="width: 800px; height: 500px" />
          <b-container
            class="bv-example-row mt-3"
            style="background-color: white; padding: 1rem; width: 800px"
          >
            <b-row class="text-center text-container">
              <b-col cols="2" class="text">Title:</b-col>
              <b-col cols="10" class="text text-description">{{ title }}</b-col>
            </b-row>
            <b-row class="text-center text-container" style>
              <b-col cols="2" class="text">Description:</b-col>
              <b-col cols="10" class="text text-description">{{ description }}</b-col>
            </b-row>
            <b-row class="text-center text-container">
              <b-col cols="2" class="text">Cost:</b-col>
              <b-col cols="10" class="text text-description">{{ cost }}</b-col>
            </b-row>
            <b-row class="text-center text-container">
              <b-col cols="2" class="text">Thumbnail File Name:</b-col>
              <b-col cols="10" class="text text-description">{{ imageName }}</b-col>
            </b-row>
            <b-row class="text-center text-container">
              <b-col cols="2" class="text">Image File Name:</b-col>
              <b-col cols="10" class="text text-description">{{ thumbnail }}</b-col>
            </b-row>
          </b-container>
        </div>
      </div>
    </div>
    <div class="flexbox-item footer">
      <carousel
        :perPage="4"
        :scrollPerPage="true"
        :paginationEnabled="true"
        :paginationColor="'black'"
        :paginationActiveColor="'red'"
        :navigation-enabled="true"
      >
        <slide v-for="template in template" :key="template.id">
          <img
            :src="require('../assets/images/thumbnails/' + template.thumbnail)"
            class="thumbnails"
            :class="{active:template.id == selected}"
            v-on:click="updateText(template), selected = template.id"
          />
        </slide>
        <p>{{ template.title }}</p>
      </carousel>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel';
import axios from 'axios';

export default {
  name: 'thumbnails',
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      template: null,
      active: false,
      title: "",
      cost: "",
      description: "",
      image: "",
      imageName: "",
      thumbnail: ""
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/")
      .then(response => {
        this.template = response.data;
      })
      .catch(error => {
        return error;
      });
  },
  methods: {
    updateText(template) {
      this.title = template.title;
      this.cost = template.cost;
      this.description = template.description;
      this.imageName = template.image;
      this.image = require("../assets/images/large/" + template.image);
      this.thumbnail = template.thumbnail;
    }
  }
};
</script>

<style scoped lang="scss">
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background: rgba(255, 255, 255, 0.1);
}
.flexbox-item {
  padding: 8px;
}
.footer {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
.flexbox-item-grow {
  flex: 1;
}
.fill-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.fill-area-content {
  overflow: auto;
}
.thumbnails {
  width: 300px !important;
  height: 225px;
  bottom: 0px;
}
.text {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding-bottom: 0.5rem;
}
.text-description {
  letter-spacing: 0.3px;
}
.text-container {
  border-bottom: 1px solid gainsboro;
  padding-top: 0.5rem;
}
.active {
  border: 2px solid blue;
}
.VueCarousel-navigation-button
  .VueCarousel-navigation-prev
  .VueCarousel-navigation--disabled {
  margin-left: -50px;
  margin-right: -50px;
}
</style>
