<template>
  <div id="app">
    <Main class="main" />
  </div>
</template>

<script>
import Main from './components/main.vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  name: 'app',
  components: {
    Main,
  },
};
</script>

<style lang="scss">
#app {
  margin: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.main {
  min-height: 100vh;
}
</style>
